.icon-48-agents {
      background-image: url(../images/l_agents.png);
      padding-left:60px!important;
}

.icon-48-agent {
      background-image: url(../images/l_agents.png);
      padding-left:60px!important;
}

.color-box-agents { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-logs {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-log {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.color-box-logs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}