/* Overlay style */
#fullnav {
	height: 100%;
	padding:0;
	float:right;
}

.overlay .nav-menu {
	line-height:3;
}

#trigger-overlay {
	background:none;
	border:none;
}

#trigger-overlay {
	height: 100%;
	font-family: "open-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:20px;
	float: right;
	padding: 0 40px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

#trigger-overlay .fa.fa-bars {
	line-height: 80px;
	color:#0E5A90;
	font-size:40px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

#trigger-overlay .fa.fa-bars:hover {
	color:#F89822;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

.overlay {
	position: fixed;
	width: 400px;
	height: 100%;
	padding: 40px 0 0 20px;
	top: 0;
	right: 0;
	z-index: 30000;
	background: rgba(14, 90, 144, 0.90);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 22px;
	height: 23px;
	position: absolute;
	right: 45px;
	top: 35px;
	overflow: hidden;
	border: none;
	background: url(../images/crosses.png) 0 0 no-repeat;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: left;
	position: relative;
	top: 35%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 40%;
	height: calc(100% / 5);
	min-height: 40px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background:none;
}

.overlay ul li a {
	font-family: "open-sans",sans-serif;
	font-weight: 400;
	font-size: 21px;
	background:none !important;
	display: block;
	color: #FFF;
	text-transform:none;
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color:#F89822;
	text-decoration:none;
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.in {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

/* ==========================================================================
   GLOBAL BUTTONS / DROPDOWN
   ========================================================================== */

a.global-btn {
	height: 100%;
	line-height: 80px;
	float: right;
	padding: 0 40px;
	margin: 0;
	background: #F89822;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

a.global-btn, a:visited.global-btn  {
	color: #FFF;
	text-decoration: none;
}

a:hover.global-btn, a:focus.global-btn {
	color: #FFF;
	background: #CD7F1B;
	text-decoration: none;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
} 


/* DROPDOWN */

/* Dropdown Button */
.dropbtn {
	height: 100%;
	line-height: 80px;
	padding: 0 40px;
	margin: 0;
	background: #0E5A90;
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #024E7E;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 200px;
    z-index: 1;
	top: 85px;
	right: 0;
}

.dropdown-content ul {
	padding: 0;
	list-style: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0E5A90;
	font-weight: 700;
	font-size: 14px;
    padding: 12px 16px;
	text-decoration: none;
    display: block;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #F89822;
	text-decoration: none;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* ==========================================================================
   GLOBAL BUTTONS / DROPDOWN
   ========================================================================== */

/* SMALLER SCROLL */

#headercontainer.smaller #fullnav #trigger-overlay .fa.fa-bars {
	line-height: 60px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

#headercontainer.smaller #fullnav a.global-btn, #headercontainer.smaller .dropbtn {
	line-height: 60px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
    transition: all 0.5s;
}

#headercontainer.smaller .dropdown-content {
	top: 65px;
}

@media only screen and (max-width: 860px) {
	#trigger-overlay {
		padding: 0 10px;
	}
	#trigger-overlay .fa.fa-bars, #headercontainer.smaller #fullnav #trigger-overlay .fa.fa-bars {
		line-height: 40px;
	}
	#fullnav a.global-btn, #headercontainer.smaller #fullnav a.global-btn, #headercontainer .dropbtn, #headercontainer.smaller .dropbtn {
		line-height: 45px;
		padding: 0 10px;
	}
	.overlay {
		width: 100%;
		padding: 0 0 0 20px;
	}
}