/* http://getbootstrap.com/customize/?id=3791c24c44520ccef0d906d8811f53cb */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 180%;
	color: #5D5C5C;
	background: #FFF;
	overscroll-behavior: none;
	background:#083F67;
}
body.com_nsd_mvp {
	background:none;
}
a {
	color: #F8971D;
	text-decoration: none !important;
}
.tracking-bad a,
.exception a {
	color:#ff2d2d;
}
.tracking-bad a.purechat-button-expand,
.exception a.purechat-button-expand {
	color:#00447C;
}
h1 a {
	color: #FFF;	
} 
a:hover {
	color:#00447C;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
	-o-transition: color .15s linear;
	transition: color .15s linear;
	text-decoration: none;
}
.tracking-bad a.purechat-button-expand:hover,
.exception a.purechat-button-expand:hover {
	color:#ff2d2d;
}
a.purechat-button-expand {
	cursor: pointer;
	font-weight: 600;
}
ul {
	margin:0;
	padding-left:20px;
}
.twocolumns {
	-webkit-columns:2 !important;
	-moz-columns:2 !important;
	columns:2 !important;
	padding:0;
	margin:0;
	list-style: none;
}
.twocolumns li {
	font-size: 90%;
	padding-bottom:0px;
}
ul.threecolumns {   
	-webkit-columns:3 !important;
	-moz-columns:3 !important;
	columns:3 !important;
	padding:0;
	margin:0;
	list-style: none;
}
ul.threecolumns li {
	font-size: 90%;
	padding-bottom:5px;
}
ol {
	margin:0;
	padding-left:20px;
}
li {
	line-height: inherit;
}
hr {
	border-color:#880000;
	border-style: dotted;
}
h1 {
	color: #00447C;
	font-size: 300%;
	font-weight: 600;
	line-height: 100%;
	margin:0 0 25px;
	padding:0;
}
h2 {
	color: #00447C;
	font-size: 150%;
	font-weight: 600;
	line-height: 100%;
	margin:5px 0 10px;
	padding:0;
}
.details h2 {
	line-height: 130%;
}
h3 {
	color:#F8971D;
	font-size: 120%;
	font-weight: 600;
	line-height: 100%;
	margin:5px 0 10px;
	padding:0;
}
.tracking-bad h3,
.exception h3 {
	color:#ff2d2d;
}
h4 {
	color:#00447C;
	font-size: 100%;
	font-weight: 600;
	line-height: 100%;
	margin:0 0 5px;
	padding:0;
}
aside {
	font-size: 122.222222%;
	line-height: 190.90909%;
}
blockquote {
	font-size: 94.4444444%;
	font-style: italic;
	color:#000;
	border-left:8px solid #00447C;
	margin:0 30px 0 0;
	padding:0 20px;
	line-height: 130%;
	font-weight: 600;
}
blockquote b, blockquote strong {
	font-style: normal;
	font-weight: 700;	
}
span.sep {
	padding:0 5px;
}
.ui-dialog button,
#pop-print a,
input[type="submit"].btn,
input.btn,
button.btn,
a.btn {
	background: #00447C;
	color:#FFF;
	text-transform: uppercase;
	padding:6px 10px;
	border-radius: 0;
	font-size: 77.7777777%;
	line-height: 150%;
	box-shadow: 3px 3px 3px #ccc;
	font-weight: 400;
}
span.btn#button-browse {
	line-height: 195%;
}
a.btn.secondary {
	background:#666;
}
.input-group-btn span.btn {
	background:#00447C;
}
.form-control.btn {
	line-height: 100% !important;
}
.ui-dialog button:hover,
#pop-print a:hover,
input[type="submit"].btn:hover,
input.btn:hover,
button.btn:hover,
a.btn:hover {
	color:#DDD;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}
.ui-dialog button:focus,
#pop-print a:focus,
input[type="submit"].btn:focus,
input.btn:focus,
button.btn:focus,
a.btn:focus  {
	outline:none;
	background: #00447C;
	color:#FFF;
}
a.readmore {
	font-weight: bold;
}
div.custom {
	width: 100%;
	padding:0;
}
.formResponsive .control-label {
	display:none;
}
input.form-control {
	height: auto;
	line-height: 200%;
	font-size: 88.8888888%;
}
input.form-control#file-input-name {
	line-height: 100%;
}
a.note,
span.note {
	font-size: 85%;
	color:#777;
	font-style: italic;
	position: relative;
	top:-5px;
}
a.note {
	display: block;
	color:#008F66;
	font-style: normal;
	margin-top:5px;
}
a.note:hover {
	color:#0084B4;
}
.item-page img {
	max-width: 100%;
}
.modalToggle {
	cursor: pointer;
}
.mmofile-input {
	display: none !important;
}
.error {
	color:red;
}
.error table {
	color:#000;
	width: auto;
}
.error a {
	color:#00447C;
}
.error a:hover {
	color:red;
}
.switch-field.has-error label {
	border:1px solid #FF2D32;
}
.with-errors {
	color:#FF2D32;
	font-size: 77.7777777%;
	line-height: 120%;
	font-weight: 600;
}
.with-errors.pull-right {
	position: relative;
	top:5px;
}
.with-errors.display-inline {
	display: inline;
	margin-left:5px;
}

/* System Messages */
#system-message-container {
	position: relative;
	top:30px;
}
.alert-message {
	display: none;
}
.alert-warning {
	background: #EEE;
	color:#000;
	border-color:#333;
}
form#finder-search input.inputbox {
	padding:3px 5px;
}
form#finder-search button.btn {
	margin-top:-5px;
}
ul.search-results {
	list-style: none;
	padding:0;
}
ul.search-results li {
	border-top:1px dotted #880000;
	padding-top:30px;
	margin-top:30px;	
}
ul.search-results li h4 a {
	font-size: 147.222222%;
	color:#000;
	line-height: 130%;	
}
ul.search-results li h4 a:hover {
	color:#005696;
}
div#videowindow {
  display: block;
  background: white;
  color: orangered;
  padding: .5em;
  font-weight: bold;
  transition: .5s all linear;
  opacity: 1;
  overflow: hidden;
  height: auto;
}
#videowindow.h-hide {
  padding: 0;
  opacity: .25;
  height: 0;
}
.ui-dialog {
	border-radius: 10px !important;
}
.ui-dialog .ui-dialog-titlebar {
	display: none !important;
}
.ui-dialog .ui-dialog-buttonpane {
	border:0;
	margin:0;
	padding:0;
	padding-right:15px;
}

/* Logo */
.navbar-brand {
	display: block;
	border: 0;
	text-shadow: none;
	padding: 0;
	height: auto;
	float:left;
	width: 100%;
	max-width: 111px;
	position: relative;
	z-index: 20000;
	margin:5px 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
    transition-delay: 0;
	margin:11px 0 11px 40px;
}
.navbar-brand img {
	width: 100%;
}
.affix .navbar-brand {
	width: 111px;
}

/* Navigation */
.navigation {
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
	background:#FFF;
	position:relative;
	z-index:200;
	height:80px;
	position: fixed;
	width:100%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
    transition-delay: 0;
}
.navigation.affix {
	position:fixed;
	width:100%;
	height: 60px;
}
.navigation.affix .navbar-brand {
	margin:1px 0 1px 40px;
}
.navigation .loginmenu > ul {
	float:right;
}
.navigation .navbar-toggle,
.navigation .loginmenu > ul > li {
	display: inline-block;
	line-height: 80px;
	color:#FFF;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
    transition-delay: 0;
    padding:0 40px;
    text-transform: uppercase;
    font-weight: 600;	
    font-size: 100%;
    margin:0;
    border:0;
    cursor: pointer;
}
.navigation .loginmenu > ul > li:first-child {
	background:#F89822;
}
.navigation .loginmenu > ul > li:first-child:hover {
	background:#CD7F1B;
}
.navigation .loginmenu > ul > li:nth-child(2) {
	background:#0E5A90;
}
.navigation .loginmenu > ul > li:nth-child(2):hover {
	background: #024E7E;
}
.navigation .navbar-toggle {
	background:none !important;
	padding:0 25px 0 40px;
}
.navigation.affix .loginmenu > ul > li {
	line-height: 60px;
}
.navigation .loginmenu > ul > li > a {
	padding:0;
	color:#FFF;
	background:none;
}
.navbar-default {
	background:none;
	box-shadow: none;
	border:0;
}
.navbar-toggle .icon-bar {
	background: #0E5A90 !important;
	height: 6px;
	width: 35px;
	border-radius: 2px;
	margin-top:25px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
    transition-delay: 0;
}
.navbar-toggle:hover .icon-bar {
	background: #F89822 !important;
}
.navigation.affix .navbar-toggle .icon-bar {
	margin-top:15px;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 6px !important;	
}
.navbar .nav-child {
	position: absolute;
	z-index: 1000;
	opacity:0;
	height: 0;
	min-width: 200px;
	overflow:hidden;
	border:0px;
	background: #FFF;
	box-shadow: 3px 3px 3px #ccc;
	padding:25px;
	margin-left:-104px;
	text-align: left;
	margin-top:2px;
}
.navbar .nav-child:hover {
	max-height: 999px;
}
.navbar .nav-child li {
	display: block;
	padding:0 0 10px 0;
	font-size: 87.5%;
	line-height: 150%;
	margin:0 0 20px 0;
	border:0;
	list-style: none;
	text-transform: none;
	font-weight: 400;
	cursor: pointer;
	background:none !important;
}
.navbar .nav-child li:last-child {
	float:none;
	padding-bottom:0;
	border-bottom: 0;
}
.navbar .nav-child li a {
	display: block;
	color: #0E5A90 !important;
	white-space: nowrap;
	padding:0;
	line-height: 150%;
	font-weight: 600;
}
.navbar .nav-child li a:hover {
	color: #F89822 !important;
}

.navbar .nav-child li a span {
	display:inline;
}
.navbar .nav > li:hover > .nav-child,
.navbar .nav > li > a:focus + .nav-child {
	opacity:1;
	height:auto;
}
.overlay-close .glyphicon {
	font-size: 23px;
	font-weight: 300;
}

/* Content */
.mainbody {
	background:#FFF;
}
.mainbody .container {
	padding-top:140px;
}
.view-schedule #content {
	text-align: center;
}
#content .padding {
	margin:0;
	padding:0 0 50px;
	min-height: 500px;
}
#content .page-header {
	padding:0;
	margin:0;
	border:0;
}
#left {
	padding-top:91px;
}
/* Level 1 */
#left ul.nav {
	margin:0;
}
#left ul.nav > li {
	display: none;
}
#left ul.nav > li.active {
	display: block;
	margin:0;
	padding:0;
	line-height: 100%;
}
#left ul.nav > li > a {
	color:#888;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
#left ul.nav > li:hover > a {
	color:#888;
	background: none;
}

/* Level 2 */
#left ul.nav > li > ul.nav-child {
	margin:0;
	padding:7px 0 0;
	list-style: none;
}
#left ul.nav > li > ul.nav-child > li {
	margin:2px 0 0 0;
	padding:8px 0px;
	line-height: 120%;
	font-size: 118.181818%;
	font-weight: 600;
}
#left ul.nav > li > ul.nav-child > li > a {
	color:#888;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#left ul.nav > li > ul.nav-child > li > a:hover {
	color:#888;
}
#left ul.nav> li > ul.nav-child > li.active > a {
	color:#888;
}
#left ul.nav > li > ul.nav-child > li.active > a:hover {
	color:#888;
}
/* Level 3 */
#left ul.nav > li > ul.nav-child > li > ul.nav-child {
	font-size: 94.17%;
	padding:5px 0 5px 10px;;
}
#left ul.nav > li > ul.nav-child > li > ul.nav-child > li {
	font-weight: normal;
}
#left ul.nav > li > ul.nav-child > li > ul.nav-child > li:before {
	content:"+ ";
}
#left ul.nav > li > ul.nav-child > li > ul.nav-child > li.active {
	font-weight: 600;
}

/* Tracking Page */
.form-inline.track {
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px dotted #0d3454;
	font-size: 120%;
}
.form-inline.track .form-group .form-control {
	width: 100%;
	border-radius: 0;
	position: relative;
	padding:6px 10px;
	height:40px;
}
.form-inline.track .form-group .btn.form-control {
	padding:0px;
	height: 40px;
}
.form-inline.track h4,
.form-inline.track .form-group label {
	font-weight: 600;
	font-size:75%;
	line-height: 120%;
}
.section {
	padding-bottom:30px;
	margin:0 0px 30px;
	border-bottom:1px dotted #0d3454;	
}
.section span {
	font-weight: 600;
	margin-right:10px;
	color:#0d3454;
}
.section.status .current-status {
	margin-top:30px;
}
.history .head {
	font-weight: 600;
	color:#0d3454;
}
.history table.history,
.history .history-row {
	font-size: 83.3333333%;
}
.history-row .tracking-bad,
.history .exception {
	color:#ff2d2d;
}
.history div#collapseHistory {
	margin-top:15px;
}
.history .collapsing {
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.history .toggleHistory {
	color:#F8971D;
}
.history .toggleHistory[aria-expanded="false"]:before {
  content:"View History";
}

.history .toggleHistory[aria-expanded="true"]:before {
  content:"Hide History";
}
.history table.history th,
.history table.history td {
	white-space: nowrap;
}
.history table.history th.wrap,
.history table.history td.wrap {
	white-space: normal;
}
.bar-container {
	margin-top:30px;
}
.tracking-bar {
	position: relative;
	padding: 40px 0;
	width: 100%;
	display: table;
}
.tracking-bar .tracking-bar-position {
	position: relative;
	display: table-cell;
}
.tracking-bar .tracking-bar-position .tracking-bar-container {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 15px auto;
	z-index: 3;
}
.tracking-bar .tracking-bar-position.green .tracking-bar-container {
	animation: tracking-puff ease-in-out 0.4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	-webkit-animation: tracking-puff ease-in-out 0.4s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards;
	
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	transform: scale(1.00);
	-webkit-transform: scale(1.00);
}
.tracking-bar .tracking-bar-position.green:nth-child(2) .tracking-bar-container {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.tracking-bar .tracking-bar-position.green:nth-child(3) .tracking-bar-container {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.tracking-bar .tracking-bar-position.green:nth-child(4) .tracking-bar-container {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.tracking-bar .tracking-bar-position.green:nth-child(5) .tracking-bar-container {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.tracking-bar .tracking-bar-position.green:nth-child(6) .tracking-bar-container {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
.tracking-bar .tracking-bar-position.green:nth-child(7) .tracking-bar-container {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
@keyframes tracking-puff {
    0% { transform: scale(1.00); }
    20% { transform: scale(1.35); }
    100% { transform: scale(1.00); }
}
@-webkit-keyframes tracking-puff {
    0% { -webkit-transform: scale(1.00); }
    20% { -webkit-transform: scale(1.35); }
    100% { -webkit-transform: scale(1.00); }
}
.tracking-bar .tracking-bar-position .tracking-bar-chevron {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #ccc;
}
.tracking-bar .tracking-bar-position.active .tracking-bar-chevron,
.tracking-bar .tracking-bar-position.green .tracking-bar-chevron {
	background: #00d048;
}
.tracking-bar .tracking-bar-position.tracking-bad .tracking-bar-chevron,
.tracking-bar .tracking-bar-position.red .tracking-bar-chevron {
	background: #ff2d2d;
}
.tracking-bar .tracking-bar-position .tracking-bar-alert {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #ccc;
	z-index: -1;

	animation: tracking-alert ease-out 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	-webkit-animation: tracking-alert ease-out 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards;
	
	animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	opacity: 0.8;
}
.tracking-bar .tracking-bar-position.current .tracking-bar-alert {
	display: block;
}
.tracking-bar .tracking-bar-position.active .tracking-bar-alert,
.tracking-bar .tracking-bar-position.green .tracking-bar-alert {
	background: #00d048;
}
.tracking-bar .tracking-bar-position.tracking-bad .tracking-bar-alert,
.tracking-bar .tracking-bar-position.red .tracking-bar-alert {
	background: #ff2d2d;
}
@keyframes tracking-alert {
   0% {
    	transform: scale(1);
    	opacity: 0.4;
    }
    50% {
    	transform: scale(1.25);
    	opacity: 0.8;
    }
    100% {
    	transform: scale(1.35);
    	opacity: 0;
    }
}
@-webkit-keyframes tracking-alert {
    0% {
    	-webkit-transform: scale(1);
    	opacity: 0.4;
    }
    50% {
    	-webkit-transform: scale(1.2);
    	opacity: 0.8;
    }
    100% {
    	-webkit-transform: scale(1.4);
    	opacity: 0;
    }
}


.tracking-bar .tracking-bar-position.dd.intransit .tracking-bar-alert,
.tracking-bar .tracking-bar-position.dd.intransit .tracking-bar-chevron {
	display: none;
}

.tracking-bar .tracking-bar-position .tracking-bar-label {
	text-align: center;
	margin: 0 auto;
	font-size: 93.3333333%;
}
/*
.tracking-bar .tracking-bar-position:first-child .tracking-bar-label {
	margin-left: 0;
	text-align: left;
}
.tracking-bar .tracking-bar-position:last-child .tracking-bar-label {
	margin-right: 0;
	text-align: right;
}
*/
.tracking-bar .tracking-bar-position .tracking-bar-line {
	position: absolute;
	height: 14px;
	top: 23px;
	background: #ccc;
	z-index: 1;
}
.tracking-bar .tracking-bar-position .tracking-bar-line.left {
	left: 0;
	right: 50%;
}
.tracking-bar .tracking-bar-position .tracking-bar-line.right {
	left: 50%;
	right: 0;
}
.tracking-bar .tracking-bar-position:first-child .tracking-bar-line.left {
	display: none;
}
.tracking-bar .tracking-bar-position:last-child .tracking-bar-line.right {
	display: none;
}
.tracking-bar .tracking-bar-position.active .tracking-bar-line,
.tracking-bar .tracking-bar-position.current .tracking-bar-line,
.tracking-bar .tracking-bar-position.green .tracking-bar-line {
	background: #00d048;
}
.tracking-bar .tracking-bar-position.current .tracking-bar-line.right {
	background: #ccc; /* next one isn't highlighted */
}
.tracking-bar .tracking-bar-position.dd.delivery.shipping,
.tracking-bar .tracking-bar-position.dd.delivery.shipped,
.tracking-bar .tracking-bar-position.dd.delivery.arrivedlmt,
.tracking-bar .tracking-bar-position.dd.delivery.scheduled,
.tracking-bar .tracking-bar-position.dd.delivery.ofd,
.tracking-bar .tracking-bar-position.dd.delivery.delivered {
	width:14%
}
.tracking-bar .tracking-bar-position.dd.delivery.intransit {
	width:16%
}
.tracking-bar .tracking-bar-position.lm.delivery.enroutelmt,
.tracking-bar .tracking-bar-position.lm.delivery.arrivedlmt,
.tracking-bar .tracking-bar-position.lm.delivery.scheduled,
.tracking-bar .tracking-bar-position.lm.delivery.ofd,
.tracking-bar .tracking-bar-position.lm.delivery.delivered {
	width:20%
}
.tracking-bar .tracking-bar-position.dd.return.shipping,
.tracking-bar .tracking-bar-position.dd.return.scheduled,
.tracking-bar .tracking-bar-position.dd.return.pickedup,
.tracking-bar .tracking-bar-position.dd.return.shipped,
.tracking-bar .tracking-bar-position.dd.return.delivered {
	width:13%
}
.tracking-bar .tracking-bar-position.dd.return.ofp,
.tracking-bar .tracking-bar-position.dd.return.intransit {
	width:17.5%
}
.tracking-bar .tracking-bar-position.lm.return.shipping,
.tracking-bar .tracking-bar-position.lm.return.scheduled,
.tracking-bar .tracking-bar-position.lm.return.ofp,
.tracking-bar .tracking-bar-position.lm.return.pickedup,
.tracking-bar .tracking-bar-position.lm.return.delivered {
	width:20%
}
.tracking-bar.tracking-bar-return .tracking-bar-notified, 
.tracking-bar.tracking-bar-return .tracking-bar-scheduled, 
.tracking-bar.tracking-bar-return .tracking-bar-picked {
	width: 33%;
}
.tracking-bar .tracking-bar-enroute {
    width: 23%;
}
.tracking-bar .tracking-bar-arrived {
    width: 50%;
}
.tracking-bar .tracking-bar-out {
    width: 15%;
}
.tracking-bar .tracking-bar-out {
    width: 15%;
}
/* Door 2 Door */
/*
.tracking-bar .tracking-bar-position.dd.delivery.shipping {
	width: 12%;
}
.tracking-bar.tracking-bar-door-to-door .tracking-bar-shipped {
	width: 15%;
}
.tracking-bar.tracking-bar-door-to-door .tracking-bar-transit {
	width: 31%;
}
	.tracking-bar.tracking-bar-door-to-door .tracking-bar-transit .tracking-bar-container {
		display: none;
	}
.tracking-bar.tracking-bar-door-to-door .tracking-bar-arrived,
.tracking-bar.tracking-bar-door-to-door .tracking-bar-out {
	width: 15%;
}
.tracking-bar.tracking-bar-door-to-door .tracking-bar-delivered {
	width: 12%;
}
*/

/* Last Mile */
/*
.tracking-bar.tracking-bar-last-mile .tracking-bar-enroute {
	width: 23%;
}
.tracking-bar.tracking-bar-last-mile .tracking-bar-arrived {
	width: 50%;
}
.tracking-bar.tracking-bar-last-mile .tracking-bar-out {
	width: 15%;
}
.tracking-bar.tracking-bar-last-mile .tracking-bar-delivered {
	width: 12%;
}
*/

/* Return */
/*
.tracking-bar.tracking-bar-return .tracking-bar-notified,
.tracking-bar.tracking-bar-return .tracking-bar-scheduled,
.tracking-bar.tracking-bar-return .tracking-bar-picked {
	width: 33.33%;
}
*/

/* Online Scheduling */
div.schedule {
	padding-top:30px;
	border-top:1px dotted #0d3454;
}
div.schedule.noZip {
	border-top:0;
}
form#zipForm {
	margin-top:5px;
	border-bottom:0;
	margin-bottom:0;
}
.has-error .form-control,
.has-error .form-control:focus,
.has-error .form-control-feedback {
	color: #ff2d2d;
	border-color: #ff2d2d;
}
.has-success .form-control,
.has-success .form-control:focus,
.has-success .form-control-feedback {
	color: #00d048;
	border-color: #00d048;
}
.help-block {
	font-size: 60%;
}
.section.notify .help-block {
	font-size: 80%;
}
.has-error .help-block {
	color: #ff2d2d;
	line-height: 120%;
}
.has-success .help-block {
	display: none;
}
form#zipForm .col-sm-4 {
	float:none;
	margin-top:10px;
}
.form-inline .has-feedback .form-control-feedback {
	font-size: 80%;
	top:2px;
	right:15px;
}
.notify .form-inline .has-feedback .form-control-feedback {
	right:0;
}
.form-inline .has-feedback input {
	text-align: center;
}
.section.notify .form-inline.notify {
	padding-top:5px;
	padding-bottom:5px;
}
.section.notify .intro {
	margin-bottom:5px;
}
.form-inline.notify label {
	font-weight: 600;
}
.notify .form-inline .form-control {
	border-radius: 0;
	padding:19px 10px;
	width: 100% !important;
	text-align: left;
}
.notify .form-group {
	padding-right:0;
}
.notify .help-block.text-danger {
	color:#ff2d2d;
}
.schedule .tab-container {
	display: inline-block;
}
.schedule .tab-container .btn {
	margin:0 auto;
	display: block;
}
.schedule .nav-tabs {
	border:0;
	display: inline-block;
}
.schedule .nav-tabs>li {
	padding:0px;
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	margin:0 15px;
}
.schedule .nav-tabs>li>a, .schedule .nav-tabs>li>a:hover{
	color:#FFF;
	background:none;
	border:0;
	margin:0;
	border-radius: 40px;
	background:#00447C;
	padding:17px 0;
	display: block;
	font-size: 88%;
	text-transform: uppercase;
}
.schedule .nav-tabs>li>a:hover {
	background:#F8971D;	
}
.schedule .nav-tabs>li.active>a, .schedule .nav-tabs>li.active>a:hover, .schedule .nav-tabs>li.active>a:focus {
	background:#F8971D;	
	color:#FFF;
	border:0;
	border-radius: 40px;
}
.schedule .panel-group .panel+.panel {
	margin-top:0 !important;
}
.schedule .tab-content {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	padding-top:30px;
}
.history .nav-tabs a {
	color:#00447C;	
}
.history .nav-tabs li.active a {
	color: #F8971D;	
}
.history .tab-content .tab-pane {
	padding:15px 0;
}
.schedule .rb-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
  left:-3px;
  padding-left:25px !important;
  font-weight: 600 !important;
}
.schedule .rb-container:hover {
	color:#00d048;
}
.schedule .rb-container.disabled {
	font-weight: normal;
	color:#CCC;
	cursor: default;
}
.schedule .rb-container.disabled:after {
	content: "Delivery Window Full";
}
.schedule .rb-container.disabled:hover {
	color:#CCC;	
}
/* Hide the browser's default checkbox */
.schedule .rb-container input {
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.schedule .rb-container .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
/*   border:1px solid #DDD; */
  margin-right: 2px;
}
.schedule .rb-container .checkmark.disabled {
	visibility:hidden;
}
/* On mouse-over, add a grey background color */
.schedule .rb-container:hover input ~ .checkmark {
/*   background-color: #ccc; */
}

/* When the checkbox is checked, add a white background */
.schedule .rb-container input:checked ~ .checkmark {
  background-color: #FFF;
}


/* Create the checkmark/indicator (hidden when not checked) */
.schedule .rb-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.schedule .rb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.schedule .rb-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid #00d048;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Custom Checkboxes */
.cb-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
  left:0px;
}
/* Hide the browser's default checkbox */
.cb-container input {
  opacity: 0;
  cursor: pointer;
}
.cb-container.checkbox label {
	padding-left:25px;
}

/* Create a custom checkbox */
.cb-container .checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #FFF;
  border:1px solid #BBB;
}
/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a white background */
.cb-container input:checked ~ .checkmark {
  background-color: #FFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cb-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #871954;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Radio Button Toggle */
.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 77.7777777%;
	line-height: 1;
	text-align: center;
	padding: 6px 12px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label.yes {
	background-color: #00d048;
	box-shadow: none;
}
.switch-field input:checked + label.no {
	background-color: #ff2d2d;
	box-shadow: none;
}
.switch-field input:checked + label.partial {
	background-color: #AAA;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* Contactless POD */
.row.pod.info {
	margin-bottom:30px;
}
.row.pod.info.header {
	margin-bottom:15px;
}
.row.pod.info.header > div {
	font-size: 77.7777777%;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 130%;
	vertical-align: bottom;
}
.row.pod.info textarea {
	margin-top:15px;
}
.row.pod.feedback {
	margin-bottom:5px;	
}
input#print_name {
	width: 350px;
	margin-top:10px;
	display: inline-block;
}
input#signature {
	font-family: 'Homemade Apple', cursive;
	margin-top:10px;
	font-size: 111.111111%;
	line-height: 200%;
	width: 350px;
}


/* Bottom Area */
.bottom {
	background: #0E5A90;
	color: #FFF;
}
.bottom .container {
	padding-top: 60px;
	padding-bottom:90px;
}
.bottom ul.nav > li {
	width: 33%;
	padding:0 15px;
	float:left;
} 
.bottom ul.nav > li > span {
	color:#F89822;
	font-weight: 600;
	font-size: 116.666666%;
}
.bottom ul.nav-child {
	list-style: none;
	padding:0;
	margin:15px 0 0;
	font-size: 100%;
}
.bottom ul.nav-child li {
	margin-bottom:5px;
}
.bottom ul.nav-child li a {
	color:#FFF;
	font-weight: 300;
}
.bottom ul.nav-child li a:hover {
	color:#F89822;
}


/* Footer Area */
.footer {
	background: #083F67;
	color: #ACACAC;
	font-size: 72.2222222%;
	position: relative;
}
.footer .container {
	padding-top: 30px;
	padding-bottom:80px;
}
.footer .container-fluid {
	padding: 30px 30px 80px;
}
.footer a {
	color:#ACACAC;
	font-weight: 600;
}
.footer a:hover {
	color:#FFF;
}
.footer div.moduletable.connect {
	color:#F8971D;
	font-size: 130%;
	line-height: 200%;
}
.footer div.moduletable.connect img {
	margin-right:15px;
	position: relative;
	top:-5px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    max-height: 25px;
	-webkit-transition: filter .15s linear;
	-moz-transition: filter .15s linear;
	-o-transition: filter .15s linear;
	transition: filter .15s linear;
}
.footer div.moduletable.connect img:hover {
	filter: brightness(0) invert(1);
}
button.chat {
	background:none;
	width: 160px;
	border:0;
	position: fixed;
	bottom:0;
	right:15px;
	outline:none;
}
button.chat img {
	width: 100%;
}

/* start smaller desktop width styles */
@media (max-width: 1199px) {
.history-row {
	font-size: 93.333333%;
}
.footer div.moduletable {
	width: 100%;
	margin-bottom:15px;
}
}

/* start tablet width styles */
@media (max-width: 991px) {
.navigation .container {
	padding:0;
}
.navigation-content {
	padding:0;
	width: 100%;
}
.history-row {
	margin-bottom:15px;
}
.nav-tabs>li {
	margin:0 10px 15px;
}
} /* end tablet width styles */


@media (min-width: 768px) {
#dateTabs.tab-content>.tab-pane.panel {
	box-shadow: none;
/* 	display: none; */
}
#dateTabs.tab-content>.tab-pane.panel .panel-heading {
	display: none;
}
#dateTabs.tab-content>.tab-pane.panel .panel-body {
	border:0;
}
#dateTabs.tab-content>.tab-pane.panel .collapse {
	display: block;
}
}


/* start smartphone width styles */
@media (max-width: 767px) {
.navbar-brand {
	margin:1px 0 1px 15px !important;
}
form.track input.btn {
	margin-left:15px;
}
.history .head {
	display: none;
}
.navigation {
	height: 60px;
}
.navigation .navbar-toggle,
.navigation .loginmenu > ul > li {
	line-height: 60px;
	padding:0 14px;
}
.navigation .navbar-toggle {
	right:-10px;
}
.navbar-toggle .icon-bar {
	margin-top:15px;
}
.nav-tabs>li {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin:0 10px 15px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover{
	padding:11px 6px;
}
.nav-tabs {
	display: none;
}
.tab-container {
	width: 100%;
}
.tab-content {
	padding-top:0;
}
#dateTabs.tab-content>.tab-pane {
	display: block;
	margin:0;
}
#dateTabs.tab-content>.tab-pane .panel {
	border:0;
	box-shadow: none;
	margin-bottom:0;
}
.panel-heading {
	background:#00447C;
	margin-bottom:1px;
}
h4.panel-title a {
	display: block;
	font-weight: 600;
	color:#FFF;
}
.bottom ul.nav > li {
	width: 100%;
	padding:0 15px;
	float:none;
	margin-bottom:15px;
}
} /* end smartphone width styles */

/* start smartphone width styles */
.com_nsd_mvp .mainbody .container {
	max-width: 750px;
	padding-top:10px;
}
.com_nsd_mvp a {
	color:#00447C;
}
.com_nsd_mvp div#livestream_scanner,
.com_nsd_mvp div#livestream_scanner .modal-footer,
.com_nsd_mvp form.mvpForm,
.com_nsd_mvp form.mvpForm .form-control {
	text-align: center;
}
.com_nsd_mvp .navrow {
	background:#EEE;
	margin:0 -15px;
	padding:10px 15px;
}
.com_nsd_mvp form.mvpForm {
	margin-top:50px;
}
.com_nsd_mvp div#livestream_scanner .modal-header {
	border:0;
	padding-top:15px;
	padding-bottom:0px;
}
.com_nsd_mvp form.mvpForm .form-control {
	line-height: 250%;
	font-size: 150%;
	font-weight: 600;
	color: #333;
}
.com_nsd_mvp form.mvpForm textarea.form-control {
	line-height: 150%;
	text-align: left;
}
.ui-dialog button,
.com_nsd_mvp .btn, .com_nsd_mvp input.btn {
	min-width: 40%;
	margin:10px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: none;
	border-radius: 4px;
	font-size: 100%;
	font-weight: 600;
	color:#FFF;
}
.com_nsd_mvp .btn.lg {
	min-width: 88%;
}
/*
.btn-file {
	outline:none !important;
}
.btn-file::-webkit-file-upload-button {
  visibility: hidden;
  color:#FFF;
}
.btn-file::before {
	content: 'Include Photo';
	display: block;
	background: #00447C;
	border-radius: 4px;
	padding: 10px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 100%;
	font-weight: 600;
	color:#FFF;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top:35px;
	
}
*/
.mbsc-form-group {
	margin-left:-15px !important;
	margin-right:-15px !important;
}
.mbsc-ios .mbsc-lv-item {
	margin-left:-15px;
	margin-right:-15px;
	padding: 1em 30px !important;
}
#action-menu li div {
	margin-bottom:7px;
	font-size: 100%;
}
#action-menu li div .mbsc-lv-item-ic {
	font-size: 200%;
}
.mbsc-ios .mbsc-lv-item:before, 
.mbsc-ios .mbsc-lv-item:after {
	border:0 !important;
}
#action-menu {
	border-top:1px solid #CCC;
}
#action-menu li {
	border-bottom:1px solid #CCC;
	margin-top:0 !important;
}
#action-menu.order-items li {
	padding-bottom:15px !important;
}
.order-info {
	margin-top:1.5em;
}
.order-info div {
	font-size:88.8888888%;
	line-height: 115%;
	margin-bottom:7px;
}
.order-info div span.sep {
	padding:0 5px 0 15px;
}
.order-item div.status {
	position: absolute;
	top:30%;
}
.order-item div.order-details {
	padding-left:48px;
}
.mbsc-lv-item-ic {
	font-size: 1.5em !important;
	width: 1.5em !important;
}
.com_nsd_mvp .glyphicon {
	font-size: 200%;
	color:gray;
}
.com_nsd_mvp .glyphicon-ok-circle {
	color:#008000 !important;
}
.com_nsd_mvp .glyphicon-remove-circle {
	color:#FF0000 !important;
}
.com_nsd_mvp .glyphicon-warning-sign {
	color:#FFCC00 !important;
}
.mbsc-ios .mbsc-lv-ic-m {
	color:#FFF !important;
}
.mbsc-lv-ic, .mbsc-lv-ic-m {
	font-size: 1.5em !important;
}
/* end smartphone width styles */
