.icon-48-workatologs {
      background-image: url(../images/l_workatologs.png);
      padding-left:60px!important;
}

.icon-48-workatolog {
      background-image: url(../images/l_workatologs.png);
      padding-left:60px!important;
}

.color-box-workatologs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}