.icon-48-updates {
      background-image: url(../images/l_updates.png);
      padding-left:60px!important;
}

.icon-48-update {
      background-image: url(../images/l_updates.png);
      padding-left:60px!important;
}

.color-box-updates { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-logs {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.icon-48-log {
      background-image: url(../images/l_logs.png);
      padding-left:60px!important;
}

.color-box-logs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-updateslog {
      background-image: url(../images/l_updateslog.png);
      padding-left:60px!important;
}

.icon-48-updatelog {
      background-image: url(../images/l_updateslog.png);
      padding-left:60px!important;
}

.color-box-updateslog { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}