.icon-48-deliveriess {
      background-image: url(../images/l_deliveriess.png);
      padding-left:60px!important;
}

.icon-48-deliveries {
      background-image: url(../images/l_deliveriess.png);
      padding-left:60px!important;
}

.color-box-deliveriess { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-agents {
      background-image: url(../images/l_agents.png);
      padding-left:60px!important;
}

.icon-48-agent {
      background-image: url(../images/l_agents.png);
      padding-left:60px!important;
}

.color-box-agents { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-clients {
      background-image: url(../images/l_clients.png);
      padding-left:60px!important;
}

.icon-48-client {
      background-image: url(../images/l_clients.png);
      padding-left:60px!important;
}

.color-box-clients { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-windows {
      background-image: url(../images/l_windows.png);
      padding-left:60px!important;
}

.icon-48-window {
      background-image: url(../images/l_windows.png);
      padding-left:60px!important;
}

.color-box-windows { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-intervals {
      background-image: url(../images/l_intervals.png);
      padding-left:60px!important;
}

.icon-48-interval {
      background-image: url(../images/l_intervals.png);
      padding-left:60px!important;
}

.color-box-intervals { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-matrices {
      background-image: url(../images/l_matrices.png);
      padding-left:60px!important;
}

.icon-48-matrix {
      background-image: url(../images/l_matrices.png);
      padding-left:60px!important;
}

.color-box-matrices { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-luclients {
      background-image: url(../images/l_luclients.png);
      padding-left:60px!important;
}

.icon-48-luclient {
      background-image: url(../images/l_luclients.png);
      padding-left:60px!important;
}

.color-box-luclients { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-shippers {
      background-image: url(../images/l_shippers.png);
      padding-left:60px!important;
}

.icon-48-shipper {
      background-image: url(../images/l_shippers.png);
      padding-left:60px!important;
}

.color-box-shippers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-luerrormessages {
      background-image: url(../images/l_luerrormessages.png);
      padding-left:60px!important;
}

.icon-48-luerrormessage {
      background-image: url(../images/l_luerrormessages.png);
      padding-left:60px!important;
}

.color-box-luerrormessages { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-lutimes {
      background-image: url(../images/l_lutimes.png);
      padding-left:60px!important;
}

.icon-48-lutime {
      background-image: url(../images/l_lutimes.png);
      padding-left:60px!important;
}

.color-box-lutimes { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}