.icon-48-metalake {
      background-image: url(../images/l_metalake.png);
      padding-left:60px!important;
}

.icon-48- {
      background-image: url(../images/l_metalake.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}