.icon-48-returnslogs {
      background-image: url(../images/l_returnslogs.png);
      padding-left:60px!important;
}

.icon-48-returnslog {
      background-image: url(../images/l_returnslogs.png);
      padding-left:60px!important;
}

.color-box-returnslogs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-datas {
      background-image: url(../images/l_datas.png);
      padding-left:60px!important;
}

.icon-48-data {
      background-image: url(../images/l_datas.png);
      padding-left:60px!important;
}

.color-box-datas { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.color-box-items { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-hdvendors {
      background-image: url(../images/l_hdvendors.png);
      padding-left:60px!important;
}

.icon-48-hdvendor {
      background-image: url(../images/l_hdvendors.png);
      padding-left:60px!important;
}

.color-box-hdvendors { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-codes {
      background-image: url(../images/l_codes.png);
      padding-left:60px!important;
}

.icon-48-code {
      background-image: url(../images/l_codes.png);
      padding-left:60px!important;
}

.color-box-codes { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-returnsluservicelevels {
      background-image: url(../images/l_returnsluservicelevels.png);
      padding-left:60px!important;
}

.icon-48-returnsluservicelevel {
      background-image: url(../images/l_returnsluservicelevels.png);
      padding-left:60px!important;
}

.color-box-returnsluservicelevels { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}