.icon-48-clients {
      background-image: url(../images/l_clients.png);
      padding-left:60px!important;
}

.icon-48-client {
      background-image: url(../images/l_clients.png);
      padding-left:60px!important;
}

.color-box-clients { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-levels {
      background-image: url(../images/l_levels.png);
      padding-left:60px!important;
}

.icon-48-level {
      background-image: url(../images/l_levels.png);
      padding-left:60px!important;
}

.color-box-levels { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-matrixs {
      background-image: url(../images/l_matrixs.png);
      padding-left:60px!important;
}

.icon-48-matrix {
      background-image: url(../images/l_matrixs.png);
      padding-left:60px!important;
}

.color-box-matrixs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-reasons {
      background-image: url(../images/l_reasons.png);
      padding-left:60px!important;
}

.icon-48-reason {
      background-image: url(../images/l_reasons.png);
      padding-left:60px!important;
}

.color-box-reasons { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-statuss {
      background-image: url(../images/l_statuss.png);
      padding-left:60px!important;
}

.icon-48-status {
      background-image: url(../images/l_statuss.png);
      padding-left:60px!important;
}

.color-box-statuss { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}